@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

main {
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;
}

.wrapper_main {
    position: relative;
    height: 100vh; 
    width: 100%;
    overflow: hidden;
}

.whapper_main video {
    position: relative;
    height: 100%; 
    width: 100%;
}

@media (max-width: 1024px) {
    .wrapper_main {
        position: relative;
        height: 100vh; 
        width: 100%;
        overflow: hidden;
    }
}